[Desktop Entry]
Name=PulseAudio System Tray
Comment=System Tray Icon for Audio Control
Categories=TrayIcon
Exec=/usr/bin/pasystray
TryExec=/usr/bin/pasystray

