[polkit-mate]
name = Polkit (Mate)
description = PolicyKit integration for the MATE desktop
category = polkit
command = /usr/lib/mate-polkit/polkit-mate-authentication-agent-1
test = test -x /usr/lib/mate-polkit/polkit-mate-authentication-agent-1
default = False

[Desktop Entry]
Name=Polkit (Mate)
Comment=PolicyKit integrgation for the MATE desktop
Categories=Polkit
Exec=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1
TryExec=/usr/lib/mate-polkit/polkit-mate-authentication-agent-1

